.seller__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background: var(--bg-color);
    text-align: center;
    overflow: hidden;

}

.seller__container>h1 {
    padding: 20px 0;
}

.seller__container__carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    gap: 20px;
}

.seller__container__carousel__item {
    width: 100%;
    background: red;
    border-radius: 8px;
}

.seller__container__sellers {
    width: 95%;
    gap: 10px;
    margin: 40px 0;
    display: flex;
}

.seller__container__sellers__left {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    background: var(--secondary-color);
}

.seller__container__sellers__list {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}

.seller__container__sellers__list>p {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.seller__container__sellers__list>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.seller__container__sellers__right {
    width: 30%;
    /* background: var(--bg-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
}



.seller__container__card__con__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: var(--secondary-color);
    padding-bottom: 10px;
    border-radius: 12px;
}

.seller__container__card__con__card__desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2%;
    gap: 10px;
    align-items: center;
}

.seller__container__card__con__card__desc__text {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    gap: 10px;
    text-align: left;
    width: 90%;
}

.seller__container__card__con__card__desc>img {
    object-fit: contain;
    width: 100%;
    padding-top: 5px;
    border-radius: 50%;
    border-radius: 12px;
}

.seller__container__card__con__card__stats {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.seller__container__card__con__card__btn {
    color: var(--green-color);
    border: 2px solid var(--green-color);
    padding: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 4px;
}

.seller__star {
    color: var(--primary-color);
}


@media screen and (max-width: 992px) {

    .seller__container__carousel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        gap: 30px;
    }

    .seller__container__card__con__card {
        display: flex;
        width: 100%;
        padding: 0 2%;
        gap: 20px;
        align-items: center;
    }


    .seller__container__card__con__card__btn {
        color: var(--green-color);
        border: 2px solid var(--green-color);
        padding: 3px 5px;
        border-radius: 4px;
    }

    .seller__container__card__con__card__desc {
        padding-top: 10px;
    }

    .seller__container__sellers {
        width: 95%;
        gap: 10px;
        margin: 40px 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .seller__container__sellers__left {
        width: 95%;
        border-radius: 12px;
    }

    .seller__container__sellers__list {
        width: 90%;
    }


    .seller__container__sellers__right {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        flex-direction: column;
        padding: 20px 0;
    }


    .seller__container__card__con__card__stats {
        width: 100%;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (max-width: 540px) {
    .seller__container__card__con__card__stats {
        font-size: 12px;
    }

    .seller__container__card__con__card__desc {
        padding-top: 5px;
    }
}