.navbar__container {
    width: 100%;
    display: flex;
    background: var(--bg-color);
    color: var(--text-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar__container__left {
    width: 50%;
    display: flex;
    padding-left: 60px;
    align-items: center;
}

/* .navbar__container__left>h1 {
    ma
} */


.navbar__container__right {
    width: 50%;
    display: flex;
    align-items: center;
}

.navbar__container__right__link {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    font-size: 18px;
}

.navbar__container__right__link {
    list-style: none;
}

.navbar__container__right__button {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    width: 40%;
    gap: 20px;
}

.navbar__container__right__button>button {
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 12px;
}

.navbar__container__right__button__login {
    background-color: var(--bg-color) !important;
    border-width: 2px;
    border-color: var(--primary-color) !important;
}

.navbar__container__mobile {
    display: none;
}

.navbar__container__mobile__link {
    display: none;
}


@media screen and (max-width: 992px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar__container__left {
        padding-left: 10px;
        width: 50%;
    }

    .navbar__container__left>h1 {
        font-size: 22px;
    }

    .navbar__container__right {
        display: none;
    }



    .navbar__container__mobile {
        padding-right: 10px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar__container___mobile__link__close {
        font-size: 30px;
        text-align: end;
        font-weight: bold;
    }

    .navbar__container__mobile__link {
        display: flex;
    }

    .navbar__container__mobile__icon {
        font-size: 30px;
    }

    .navbar__container__mobile__link {
        display: flex;
        flex-direction: column;
        z-index: 9999;
        background-color: var(--bg-color);
        top: 0;
        width: 60%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        right: 0;
        position: fixed;
        height: 100vh;
        gap: 20px;
    }

    .navbar__container__mobile__link>li {
        list-style: none;
        font-size: 20px;
    }

    .navbar__container__mobile__link__button__login {
        border: 3px solid var(--primary-color);
        background-color: var(--bg-color);
        padding: 10px;
        font-size: 16px;
        color: var(--text-color);
        border-radius: 12px;
    }

    .navbar__container__mobile__link__button__signup {
        background-color: var(--primary-color);
        padding: 10px;
        color: var(--text-color);
        font-size: 16px;
        border-radius: 12px;
    }

}