* {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Imported;
    src: url(./fonts/BR\ Firma\ Regular.otf);
}

:root {
    --bg-color: #170727;
    --primary-color: #f24902;
    --secondary-color: #063856;
    --text-color: #f2f2f2;
    --green-color: #00d121;
    font-family: Imported;
}